<script src="/assets/js/aboutMe.js"></script>

<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/"><span><img class="logo" id="nav-logo" src="/assets/icons/logo.png" alt="logo" /></span></a>
            </li>
        </ul>

    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="" uk-icon="menu"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/resume">Resume</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>

<div class="uk-section">
    <div class="uk-container">

        <h3>{{name}}</h3>

        <div class="uk-grid-match uk-child-width-2-3@m" uk-grid>
            <div>
                <p>{{aboutMe}}</p>
            </div>

        </div>
        <divclass="uk-grid-match uk-child-width-2-3@m" uk-grid>
            <p>phone: {{phone}}</p>
            <a href="https://github.com/{{github}}" target="_blank">github</a>
            <a href="{{linkedIn}}" target="_blank">linkedIn</a>
        </div>

    </div>
</div>